.page-footer
  padding-top 15px
  padding-bottom 15px
  background-color $red-dark
  color $text-white
  margin-top 2em
  a
    color $text-white
  &__item
    text-align center
    margin-bottom 1em
    //&_copyright
    //&_intouch