.page-header
  margin-bottom 2em
.me
  &__item
    text-align center
    &_name
      text-transform uppercase
      font-size 2em
    &_position
      margin-bottom 3em
    &_photo
      img
        width 200px
        height 200px
        border 10px solid $red-dark
        border-radius 50%