$svg-common 
	background url("sprite-921c1ff7.svg") no-repeat

$partials--elements--skills--ai
	@extend $svg-common
	background-position 0 0

$partials--elements--skills--angular
	@extend $svg-common
	background-position 0 3.7037037037037037%

$partials--elements--skills--babel
	@extend $svg-common
	background-position 0 7.407407407407407%

$partials--elements--skills--bem
	@extend $svg-common
	background-position 0 11.11111111111111%

$partials--elements--skills--bootstrap
	@extend $svg-common
	background-position 0 14.814814814814815%

$partials--elements--skills--css3
	@extend $svg-common
	background-position 0 18.51851851851852%

$partials--elements--skills--drupal
	@extend $svg-common
	background-position 0 22.22222222222222%

$partials--elements--skills--drupal8
	@extend $svg-common
	background-position 0 25.925925925925927%

$partials--elements--skills--en
	@extend $svg-common
	background-position 0 29.62962962962963%

$partials--elements--skills--git
	@extend $svg-common
	background-position 0 33.333333333333336%

$partials--elements--skills--gulp
	@extend $svg-common
	background-position 0 37.03703703703704%

$partials--elements--skills--html5
	@extend $svg-common
	background-position 0 40.74074074074074%

$partials--elements--skills--jquery
	@extend $svg-common
	background-position 0 44.44444444444444%

$partials--elements--skills--js
	@extend $svg-common
	background-position 0 48.148148148148145%

$partials--elements--skills--linux
	@extend $svg-common
	background-position 0 51.851851851851855%

$partials--elements--skills--mocha
	@extend $svg-common
	background-position 0 55.55555555555556%

$partials--elements--skills--mysql
	@extend $svg-common
	background-position 0 59.25925925925926%

$partials--elements--skills--nodejs
	@extend $svg-common
	background-position 0 62.96296296296296%

$partials--elements--skills--notepad
	@extend $svg-common
	background-position 0 66.66666666666667%

$partials--elements--skills--php
	@extend $svg-common
	background-position 0 70.37037037037037%

$partials--elements--skills--phpstorm
	@extend $svg-common
	background-position 0 74.07407407407408%

$partials--elements--skills--ps
	@extend $svg-common
	background-position 0 77.77777777777777%

$partials--elements--skills--sass
	@extend $svg-common
	background-position 0 81.48148148148148%

$partials--elements--skills--sourcetree
	@extend $svg-common
	background-position 0 85.18518518518519%

$partials--elements--skills--stylus
	@extend $svg-common
	background-position 0 88.88888888888889%

$partials--elements--skills--webpack
	@extend $svg-common
	background-position 0 92.5925925925926%

$partials--elements--skills--webstorm
	@extend $svg-common
	background-position 0 96.29629629629629%

$partials--elements--skills--wordpress
	@extend $svg-common
	background-position 0 100%

