
$green-light = #4fe8ab
$green = #46cf98
$green-dark = #3eb585

$orange-light = #fcb519
$orange = #e3a217
$orange-dark = #c99014

$red-light = #ff6652
$red = #e95e4b
$red-dark = #cf5242

$grey-light = #8d8594
$grey = #756f7b
$grey-dark = #5c5761

$white = #fff

$text-default = $grey-dark
$text-light = $grey-light
$text-white = $white
